.main-header {
    justify-self: center;
}

.sub-heading {
    color: red;
}

.recipe-entry {
    border: 2px solid yellow;
    margin-bottom: 20px;
}

.recipe-title {
    justify-self: center;
}

.recipe-cooktime {
    justify-self: end;
}
